h1 {
  font-size: 2.4em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  
}
h1,h2,nav{
  text-align: center;
}
nav a {
  width: 250px;
  height: 50px;
  line-height: 40px;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 10px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}